doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   ul.nav
     li.nav: a.nav(href='/') Home
     li.nav: a.nav(href='/Tests') Tests
     li.nav: a.nav(href='/Runs') Runs
     li.nav: a.nav(href='/Testrunners') TestRunners
     li.nav: a.nav(href='/InstanceHistory') Instance Usage
     li.nav: a.nav(href='/EnvStats') Environments

  block content
   